* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

.header {
    
    padding: 30px 0 30px 0;
    background-color: #6943FF;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    margin: 0px;
}

.header input {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 130px;
    height: 80px;
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    line-height: 80px;
    margin-top: 20px;
    font-weight: bold;
}

#convert-btn {
    width: 130px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
}

#convert-btn:hover {
    cursor: pointer;
}

.main {
    background-color: #1F2937;
    height: 100vh;
    padding: 35px 25px;
    box-sizing: initial;
}

.conversion {
    background-color: #273549;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 25px;
}

.conversion h2 {
    color: #CCC1FF;
    margin: 0;
}

.conversion p {
    color: #FFFFFF;
    margin: 0;
    margin-top: 20px;
}